[v-cloak] {
    display: none;
}

* {
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
}

body {
    padding: 0 10px;
}

.app .seconds {
    display: inline-block;
    width: 20px;
    text-align: center;
}